@import 'colors';

.convex-border {
  border-top: 1px solid $border-menu-light;
  border-left: 1px solid $border-menu-light;
  border-right: 1px solid $border-menu-dark;
  border-bottom: 1px solid $border-menu-dark;

  &:active {
    border-top: 1px solid $border-menu-dark;
    border-left: 1px solid $border-menu-dark;
    border-right: 1px solid $border-menu-light;
    border-bottom: 1px solid $border-menu-light;
  }

  &.active {
    border-top: 1px solid $border-menu-active-light;
    border-left: 1px solid $border-menu-active-light;
    border-right: 1px solid $border-menu-active-dark;
    border-bottom: 1px solid $border-menu-active-dark;

    &:active {
      border-top: 1px solid $border-menu-active-light;
      border-left: 1px solid $border-menu-active-light;
      border-right: 1px solid $border-menu-active-dark;
      border-bottom: 1px solid $border-menu-active-dark;
    }
  }
}
