$bg-desktop: #505170;
$bg-menu: #a0a0a0;
$bg-light: #fefefe;
$bg-header-active: #000000;
$bg-menu-concave: #9f9fa1;
$border-window: #000000;
$border-menu-light: #fefefe;
$border-menu-dark: #505050;
$border-menu-active-light: #9fa19e;
$border-menu-active-dark: #515151;
$font-primary: #010101;
$font-secondary: #505050;
$font-active: #ffffff;
