@import 'styles/colors';

.WindowHeader {
  position: relative;
  padding: 4px;
  background: $bg-menu;
  color: $font-primary;

  .IconButton {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  &.text-center {
    .IconButton {
      left: 4px;
    }
  }

  &.active {
    background: $bg-header-active;
    color: $font-active;
    font-weight: bold;
  }
}
